.content {
  figure.kg-gallery-card {
    position: relative;
    right: 50%;
    left: 50%;
    margin-top: 20px;
    margin-right: -50vw;
    margin-bottom: 20px;
    margin-left: -50vw;
    width: 100vw;

    @include respond-to(small) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

  .kg-gallery-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: calc(100vw - 40px);
    width: initial;

        @include respond-to(medium) {
            max-width: $wrapper-width+200px;
        }
        @include respond-to(large) {
            max-width: $wrapper-width+400px;
        }
        @include respond-to(huge) {
            max-width: $wrapper-width+600px;
        }
  }

  figcaption {
      text-align: center;
      font-size: 14px;
      line-height: 50px;

  }

}

  .kg-gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .kg-gallery-image img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
  }

  .kg-gallery-row:not(:first-of-type) {
      margin: 0.75em 0 0 0;
  }

  .kg-gallery-image:not(:first-of-type) {
      margin: 0 0 0 0.75em;
  }

  .kg-gallery-card + .kg-image-card.kg-width-wide,
  .kg-gallery-card + .kg-gallery-card,
  .kg-image-card.kg-width-wide + .kg-gallery-card,
  .kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
      margin: -2.25em 0 3em;
  }
}
