.content {

  figure.kg-image-card.audio-player img {
    width: 100%;
    max-width: 600px;
    margin-left:auto;
  }

  div.plyr--audio + figcaption:before {
    content: "\266b\ ";

  }

  div.plyr--audio + figcaption {
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    }

  }
